#orbit-fep-pages .handlediv,
#orbit-fep-pages .hndle{
  display: none;
}

#orbit-fep-pages{
  box-shadow: none;
  border: none;
  background-color: transparent;
}

#orbit-page-repeater-list .orbit-page-repeater,
#orbit-slide-repeater-list .orbit-slide-repeater{
  background: #fff;
  padding: 10px 10px 0 10px;
}

#orbit-fep-pages .inside{
  padding: 0;
}

#orbit-slide-repeater-list .orbit-slide-repeater{
  border: 2px solid #eee;
  margin-bottom: 20px;
}

#orbit-fep-pages .orbit-admin-dropdown{
  padding-bottom: 10px;
}

.orbit-page-repeater .list-content,
.orbit-slide-repeater .list-content{
  position: relative;
  margin-top: 10px;
  padding-bottom: 10px;
}
