#orbit-fep-pages .handlediv,
#orbit-fep-pages .hndle{
  display: none;
}

#orbit-fep-pages{
  box-shadow: none;
  border: none;
  background-color: transparent;
}

#orbit-page-repeater-list .orbit-page-repeater{
  background: #fff;
  padding: 10px 10px 0 10px;
}

#orbit-fep-pages .inside{
  padding: 0;
}

#orbit-fep-pages .orbit-admin-dropdown{
  padding-bottom: 10px;
}

.orbit-page-repeater .list-content{
  position: relative;
}
.orbit-page-repeater .list-header textarea{
  height: 22px;
}
